.navbar-brand{
    position: absolute;
    left: 44%;
}

#cadgenero{
    display: none;
    margin: 10px -13% 0px 13%;
}

#cadfilme {
    display: block;
    margin: 10px -13% 0px 13%;
}

.enviar{
    margin: 10px;
    left: 24%;
}

.form-control {
    text-align: center;
}
