.col {
    text-align: center;
}

.bt-pesquisa {
    float: left;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    margin-top: 35px;
}

.card-header{
    height: 73px;
}

body {
    color: black;
}
input {
    color: white;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: rgb(44, 41, 41); 
    border:1px solid #000000;
    width:150px
}

.card-text{
    text-align: justify;
    display: -webkit-box;
    max-width: 250px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination{
    position: relative;
    left: -30px;
}
.navbar-brand{
    position: absolute;
    left: 44%;
}
